/*--- Font Imports ---*/
@font-face {
  font-family: PierSans-Regular;
  src: url("../fonts/pier/PierSans-Regular.otf");
  src: url("../fonts/pier/PierSans-Regular.otf?#iefix") format("opentype");
  src: url("../fonts/pier/PierSans-Regular.ttf?#iefix") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: PierSans-Medium;
  src: url("../fonts/pier/PierSans-Medium.otf");
  src: url("../fonts/pier/PierSans-Medium.otf?#iefix") format("opentype");
  src: url("../fonts/pier/PierSans-Medium.ttf?#iefix") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: PierSans-Bold;
  src: url("../fonts/pier/PierSans-Bold.otf");
  src: url("../fonts/pier/PierSans-Bold.otf?#iefix") format("opentype");
  src: url("../fonts/pier/PierSans-Bold.ttf?#iefix") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: Karla-Regular;
  src: url("../fonts/karla/Karla-Regular.otf");
  src: url("../fonts/karla/Karla-Regular.otf?#iefix") format("opentype");
  src: url("../fonts/karla/Karla-Regular.ttf?#iefix") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Karla-Bold;
  src: url("../fonts/karla/Karla-Bold.otf");
  src: url("../fonts/karla/Karla-Bold.otf?#iefix") format("opentype");
  src: url("../fonts/karla/Karla-Bold.ttf?#iefix") format("truetype");
  font-weight: 600;
  font-style: normal; }

/*--- Variables settings ---*/
/*--- CSS ---*/
html, body, #app {
  position: relative;
  background-color: #fefefa;
  min-height: 100%;
  min-width: 100%;
  font-size: 10px;
  cursor: default;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, p, a, i, span {
  font-family: 'Open Sans', sans-serif;
  color: #252525;
  font-weight: 400; }

a, i {
  cursor: pointer; }

a:hover, a:focus {
  color: #252525;
  text-decoration: none; }

.layout-container {
  height: 100%; }

ol, ul {
  list-style: none; }

h1 {
  font-size: 1.75rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

p {
  font-size: 1rem; }

/*---------------------- Div Containers ----------------------*/
/*------- General Containers -------*/
.parent-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  overflow-x: hidden; }

.content-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  z-index: 12; }

/*-- Meter --*/
.meter {
  width: 100vw;
  height: 4vh;
  position: absolute;
  bottom: -1vh;
  background: #fefefa;
  z-index: 16; }

.meter-hidden {
  display: none; }

#meter-id > line,
polyline,
polygon,
ellipse,
path,
rect {
  opacity: 1; }

/*------- Top Containers -------*/
.top-content {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20vh;
  width: 100vw;
  z-index: 14;
  display: none; }

.loaded .top-content {
  display: block; }

/*-- Navigation --*/
.navigation-container {
  margin: 4vh 2vw 0vh 2vw; }

.navigation-container a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700; }

.menu-item {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-decoration: none;
  color: #353535; }

.logo-container {
  padding: 0px; }

.logo-container .logo-item {
  height: 10vh;
  margin-left: 2vh;
  background-image: url(../images/signature.svg);
  background-size: auto 10vh;
  background-repeat: no-repeat; }

.vertical-align {
  display: flex;
  align-items: baseline; }

.pull-bottom {
  padding-bottom: 1vh; }

/*------- Middle Containers -------*/
.middle-content {
  position: absolute;
  width: 100vw;
  top: 20vh;
  left: 0px;
  z-index: 15;
  background: #fefefa;
  color: #eee; }

.middle-content-container {
  position: relative;
  min-height: 45vh;
  overflow: hidden; }

/*-- Homepage --*/
.home-container {
  position: relative;
  width: 100vw;
  height: 45vh;
  margin: 0; }

.home-fade {
  position: relative;
  margin: 5vh 0vw; }

.home-fade h3 {
  font-size: 1.5rem; }

.home-text {
  margin: 2vh 1vw; }

.fade-1 {
  opacity: 0;
  animation: 1s linear 1s fadeInDown;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

.fade-2 {
  opacity: 0;
  animation: 1s linear 2.5s fadeInDown;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

.fade-3 {
  opacity: 0;
  animation: 1s linear 4s fadeInDown;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

.fade-4 {
  opacity: 0;
  animation: 1s linear 5.5s fadeInDown;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/ }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.pulse {
  display: inline-block; }

.pulse:after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #353535;
  transition: width .3s; }

.pulse:hover:after {
  width: 100%; }

.pulse-active:after {
  width: 100%; }

@keyframes line {
  from {
    visibility: hidden;
    transform: scaleX(0); }
  to {
    visibility: visible;
    transform: scaleX(1); } }

@keyframes pulsing {
  from {
    transform: scale3d(1, 1, 1); }
  50% {
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    transform: scale3d(1, 1, 1); } }

/*-- Projects --*/
.projects-container {
  margin: 4vh 4vw; }

.update-container {
  margin: 2vh 4vw; }

.image-item {
  overflow: hidden; }

.corner-ribbon {
  position: absolute;
  top: 175px;
  margin: 0;
  padding: 0 1vw;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  font-size: 0.75rem;
  color: #f0f0f0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.image-item h3 {
  margin: 1vh 0vw 0vh 0vw; }

.image-item p {
  margin-bottom: 2vh; }

.image-item img {
  border: #DDD solid 1px;
  box-shadow: 2px 2px 2px #DDD; }

/*-- Project --*/
.project-container {
  margin: 4vh 4vw; }

.update-container .page-arrow {
  font-size: 1.75rem;
  margin: 0 0.5vw; }

.project-headline, .project-details, .project-gallery {
  margin-bottom: 6vh; }

.project-headline .light-text i {
  cursor: default; }

.project-image img {
  border: #DDD solid 1px;
  box-shadow: 2px 2px 2px #DDD; }

.project-headline .link {
  margin-top: 6vh; }

.project-headline .link a {
  border: 3px solid #353535;
  padding: 5px; }

.project-headline .divider {
  width: 100%;
  height: 1px;
  margin: 2.5vh 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.project-image {
  margin-bottom: 6vh; }

.project-gallery {
  margin-top: 2vh; }

.project-gallery img {
  border: #DDD solid 1px;
  box-shadow: 2px 2px 2px #DDD; }

/*-- Contact --*/
.contact-container {
  height: 40vh;
  margin-top: 5vh; }

.contact-headline {
  margin-bottom: 5vh; }

.contact-item {
  font-size: 1.5rem;
  margin-bottom: 5vh; }

.contact-item i {
  margin-right: 5vw; }

/*------- Bottom Containers -------*/
.bottom-content {
  position: absolute;
  width: 100vw;
  height: 30vh;
  bottom: 0px;
  left: 0px;
  z-index: 14;
  display: none; }

.loaded .bottom-content {
  display: block; }

.home-silhoutte {
  position: relative;
  width: 100vw;
  height: 25vh; }

.home-silhoutte #scene {
  margin: 0;
  padding: 0; }

.home-silhoutte #scene .layer {
  width: 100vw; }

.home-silhoutte .silhoutte {
  position: absolute;
  width: 110vw;
  height: 30vh;
  left: -5vw;
  right: -5vw;
  background-size: auto 30vh;
  background-repeat: repeat-x; }

.home-silhoutte #silhoutte-1 {
  background-image: url("../images/silhouttes/silhoutte-1-1.png"); }

.home-silhoutte #silhoutte-2 {
  background-image: url("../images/silhouttes/silhoutte-2-1.png"); }

.home-silhoutte #silhoutte-3 {
  background-image: url("../images/silhouttes/silhoutte-3-1.png"); }

.home-silhoutte #silhoutte-4 {
  background-image: url("../images/silhouttes/silhoutte-4-1.png"); }

.home-silhoutte #silhoutte-5 {
  background-image: url("../images/silhouttes/silhoutte-5-1.png"); }

.home-silhoutte #silhoutte-6 {
  background-image: url("../images/silhouttes/silhoutte-6-1.png"); }

.home-silhoutte #silhoutte-7 {
  background-image: url("../images/silhouttes/silhoutte-7-1.png"); }

.home-silhoutte #silhoutte-8 {
  background-image: url("../images/silhouttes/silhoutte-8-1.png"); }

.footer {
  position: relative;
  width: 100vw;
  height: 5vh;
  background-color: #353535; }

.footer h3, .footer p, .footer i, .footer a, .footer span {
  color: #fefefa; }

.footer span {
  margin-left: 1vw; }

.footer .scroll-arrow {
  font-size: 1.75rem;
  color: #252525; }

/*---------------------- Media Queries ----------------------*/
@media (min-width: 360px) {
  html,
  body,
  #app {
    font-size: 12px; }
  /*------- Top Container -------*/
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; }
  /*------- Middle Container -------*/
  .home-typed {
    margin: 5vh 0px 0px 0px; }
  /*------- Bottom Container -------*/ }

@media (min-width: 380px) {
  html,
  body,
  #app {
    font-size: 14px; }
  /*------- Top Container -------*/
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; }
  /*------- Middle Container -------*/
  .home-typed {
    margin: 5vh 0px 0px 0px; }
  /*------- Bottom Container -------*/ }

@media (min-width: 768px) {
  html,
  body,
  #app {
    font-size: 16px; }
  /*------- Top Container -------*/
  .navigation-container {
    margin: 4vh 2vw 0vh 2vw; }
  .logo-container {
    padding-left: 2vh; }
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; }
  /*------- Middle Container -------*/
  /*-- Projects --*/
  .projects-container {
    margin: 6vh 8vw; }
  .update-container {
    margin: 2vh 8vw; }
  /*------- Bottom Container -------*/ }

@media (min-width: 992px) {
  /*------- Bottom Container -------*/
  .footer .footer-left, .footer-right {
    margin-top: 1vh; } }

@media (min-width: 1024px) {
  html,
  body,
  #app {
    font-size: 16px; }
  /*------- Top Containers -------*/
  /*-- Navigation --*/
  .navigation-container {
    margin: 2vh 2vw; }
  .loaded .top-content {
    top: 0px;
    left: 0px; }
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; }
  /*------- Middle Containers -------*/
  /*-- Projects --*/
  /*-- Project --*/
  .project-container {
    margin: 6vh 4vw; }
  .update-container {
    margin: 4vh 4vw; }
  /*------- Bottom Containers -------*/
  .bottom-content {
    height: 40vh; }
  .home-silhoutte .silhoutte {
    height: 40vh;
    background-size: auto 40vh; } }

@media (min-width: 1280px) {
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; } }

@media (min-width: 1366px) {
  /*---------------------- Div Containers ----------------------*/
  /*------- General Containers -------*/
  /*------- Top Containers -------*/
  /*-- Navigation --*/
  .navigation-container {
    margin: 50px 0px 0px 50px; }
  .logo-container .logo-item {
    height: 10vh;
    background-size: auto 10vh; }
  /*------- Middle Containers -------*/
  /*-- Homepage --*/
  .home-container {
    width: 100vw;
    margin: 0px; }
  .home-typed {
    position: relative;
    margin: 20vh 0vw; }
  .home-typed h3 {
    font-size: 1.5rem; }
  /*-- Projects --*/
  /*-- Three-projects --*/
  /*-- Coder --*/
  /*------- Bottom Containers -------*/ }
